In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read data
df = pd.read_csv('./datasets/wordpress data/Wordpress DDOS attack Logs.txt',delimiter=",")

In [3]:
df.head(5)

  188.121.41.140 - - [23/Sep/2013:13:02:47 +0200] "GET / HTTP/1.1" 200 8955 "-" "WordPress/3.0.2; http://www.cakefantasia.com"
0  81.169.144.135 - - [23/Sep/2013:13:02:47 +0200...
1  91.184.18.50 - - [23/Sep/2013:13:02:47 +0200] ...
2  184.154.224.17 - - [23/Sep/2013:13:02:47 +0200...
3  209.15.245.58 - - [23/Sep/2013:13:02:47 +0200]...
4  66.96.183.15 - - [23/Sep/2013:13:02:47 +0200] ...

In [4]:
df.columns = ["IP"]

In [5]:
df["IP"][0]

'81.169.144.135 - - [23/Sep/2013:13:02:47 +0200] "GET / HTTP/1.1" 200 8955 "-" "WordPress/3.6.1; http://aifs2.pvdveen.net"'

In [6]:
len(df["IP"][0].split(" "))

13

In [7]:
len(df['IP'][1].split(" "))

13

In [8]:
df['IP'][2].split(" ")

['184.154.224.17',
 '-',
 '-',
 '[23/Sep/2013:13:02:47',
 '+0200]',
 '"GET',
 '/',
 'HTTP/1.1"',
 '200',
 '8955',
 '"-"',
 '"WordPress/3.6;',
 'http://photekusa.com"']

In [9]:
ip_col = []
date_col = []
url_col = []
port_col = []
status_col = []
for d in df["IP"]:
    ip_col.append(d.split(" ")[0])
    port_col.append(d.split(" ")[-4])
    date_col.append(d.split(" ")[3])
    url_col.append(d.split(" ")[-1])
    status_col.append(d.split(" ")[-5])
    
# print(url_col)
# print(date_col)
# print(url_col)
# print(port_col)
# print(status_col)

In [10]:
new_data = {
    "IP":ip_col,
    "Date": date_col,
    "Port": port_col,
    "URL": url_col
}
clean_df = pd.DataFrame(new_data)

In [11]:
clean_df

,IP,Date,Port,URL
0,81.169.144.135,[23/Sep/2013:13:02:47,8955,"http://aifs2.pvdveen.net"""
1,91.184.18.50,[23/Sep/2013:13:02:47,8955,"http://sociedia.com"""
2,184.154.224.17,[23/Sep/2013:13:02:47,8955,"http://photekusa.com"""
3,209.15.245.58,[23/Sep/2013:13:02:47,8955,"http://enabledkids.ca"""
4,66.96.183.15,[23/Sep/2013:13:02:47,8955,"http://guyana-tourism.com/blog"""
...,...,...,...,...
563,216.201.128.7,[23/Sep/2013:13:03:13,913,"http://www.theleadernews.com"""
564,130.185.84.2,[23/Sep/2013:13:03:13,913,"http://www.gerirepoupar.com/jovens"""
565,142.4.38.98,[23/Sep/2013:13:03:13,913,"http://caithatescake.com"""
566,184.154.225.8,[23/Sep/2013:13:03:13,913,"http://diglitny.org/blog"""
567,69.163.225.185,[23/Sep/2013:13:03:13,913,"http://www.thehtc.ca"""

In [12]:
clean_df.isnull().sum()

IP      0
Date    0
Port    0
URL     0
dtype: int64